*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333;
  background: #fff;
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
p {
  margin: 0; }

img {
  display: block;
  max-width: 100%; }

em {
  font-style: italic; }

strong {
  font-weight: 700; }

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0; }

main {
  padding: 15px 12px 30px; }

aside {
  padding: 0 12px 45px;
  color: #bdbdbd;
  font-style: italic;
  font-size: 12px; }

footer {
  padding: 0 12px 15px;
  text-align: center;
  color: #a9a9a9;
  font-weight: 600; }

.recipe header {
  margin-bottom: 24px; }
  .recipe header h1 {
    font-family: "Playfair Display", serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px; }
  .recipe header p {
    font-size: 12px;
    font-weight: 500;
    padding-left: 22px;
    background: url("../img/6dots.svg") no-repeat 0 4px;
    margin-bottom: 20px; }

.recipe .details {
  margin-bottom: 20px; }
  .recipe .details ul {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 20px; }
  .recipe .details li {
    display: flex;
    align-items: center; }
  .recipe .details svg {
    width: 18px;
    height: 18px;
    margin: 4px 4px 0 0; }
  .recipe .details strong {
    font-size: 8px;
    color: #bdbdbd;
    text-transform: uppercase; }
  .recipe .details p {
    font-weight: 500;
    font-size: 10px; }
  .recipe .details li:first-child {
    grid-column: 1 / -1;
    color: #f2994a; }
    .recipe .details li:first-child svg {
      fill: #f2994a; }

.recipe .ingredients h2 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px; }

.recipe .ingredients h3 {
  font-family: "Playfair Display", serif;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 25px; }

.recipe .ingredients ul {
  margin-bottom: 40px; }

.recipe .ingredients li {
  line-height: 25px;
  margin-bottom: 3px;
  padding-left: 30px;
  position: relative; }
  .recipe .ingredients li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 3px;
    display: block;
    width: 21px;
    height: 21px;
    border: 1px solid #828282;
    border-radius: 4px; }

.recipe .instructions h2 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px; }

.recipe .instructions ol {
  counter-reset: instructions; }

.recipe .instructions li {
  font-size: 16px;
  line-height: 20px;
  color: #000;
  padding-left: 50px;
  position: relative;
  margin-bottom: 15px; }
  .recipe .instructions li::before {
    content: counter(instructions);
    counter-increment: instructions;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    font-family: "Playfair Display", serif;
    font-size: 24px;
    color: #fff;
    width: 36px;
    height: 36px;
    padding-top: 4px;
    background: #f2994a;
    border-radius: 6px; }

@media (min-width: 765px) {
  main {
    padding-top: 40px; }
  main,
  aside,
  footer {
    max-width: 1010px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto; }
  .recipe {
    display: grid;
    grid-template-columns: 3fr 1fr; }
    .recipe header {
      grid-column: 1/-1;
      margin-bottom: 50px; }
      .recipe header h1 {
        font-size: 48px;
        margin-bottom: 16px; }
      .recipe header p {
        font-size: 14px;
        max-width: 600px;
        margin-bottom: 40px; }
    .recipe .details {
      grid-column: 2;
      margin-left: 5vw; }
      .recipe .details ul {
        grid-template-columns: 1fr;
        justify-items: center;
        padding: 40px 0;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 12px;
        grid-gap: 40px; }
      .recipe .details svg {
        width: 28px;
        height: 28px;
        margin: 4px 10px 0 0; }
      .recipe .details strong {
        font-size: 12px; }
      .recipe .details p {
        font-size: 14px; }
    .recipe .ingredients {
      grid-column: 1;
      grid-row: 2; }
      .recipe .ingredients h2 {
        font-size: 24px;
        margin-bottom: 30px; }
      .recipe .ingredients h3 {
        font-size: 18px;
        margin-bottom: 30px; }
      .recipe .ingredients li {
        font-size: 16px;
        margin-bottom: 8px; }
    .recipe .instructions {
      grid-column: 1; }
      .recipe .instructions h2 {
        font-size: 24px;
        margin-bottom: 30px; } }
